{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["company"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["price"] }}</td>
                    <td>{{ stock["value"] | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>Cash</th>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <th>TOTAL</th>
                <td>{{ total | usd }}</td>
            </tr>
        </tfoot>

    </table>

{% endblock %}