{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
    <form class="row g-3" action="/sell" method="post">
        <div class="col-sm-2">
            <select required class="form-select" name="symbol">
                <option value="">Choose stock</option>
                {% for stock in stocks_and_shares.keys() %}
                    <option name="symbol" value="{{ stock }}">{{ stock }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-1">
            <input type="number" class="form-control" min="0"  step="1" placeholder="1" value="1" name="shares">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Sell</button>
        </div>
    </form>
{% endblock %}